[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start -a panamax-container-ui ||/usr/bin/docker run -d -t --name panamax-container-ui -w /var/app/panamax-ui -p 3000:3000 74.201.240.198:5000/panamax-ui rails s'
ExecStop=/usr/bin/docker stop panamax-contaner-ui
