[Unit]
Description=Panamax local
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/etc/systemd/user/start_svc.sh && exit 0'
ExecStop=/bin/bash -c '/etc/systemd/user/start_svc.sh stop'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
